* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  -webkit-filter: url(#goo);
  filter: url(#goo);
}

.dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.dot:before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #FBD301;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin-left: -20px;
  margin-top: -20px;
}

@-webkit-keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  25% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  12.5% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  25% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
}

@keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  -webkit-animation: dot-colors 4s ease-in-out infinite;
  animation: dot-colors 4s ease-in-out infinite;
}

@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.dot:nth-child(1) {
  -webkit-animation: dot-rotate-1 4s 0s linear infinite;
  animation: dot-rotate-1 4s 0s linear infinite;
}

.dot:nth-child(1):before {
  background-color: #FBD301;
  -webkit-animation: dot-move 4s 0s ease-in-out infinite;
  animation: dot-move 4s 0s ease-in-out infinite;
}

@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.dot:nth-child(2) {
  -webkit-animation: dot-rotate-2 4s 1s linear infinite;
  animation: dot-rotate-2 4s 1s linear infinite;
}

.dot:nth-child(2):before {
  background-color: #FF3270;
  -webkit-animation: dot-move 4s 1s ease-in-out infinite;
  animation: dot-move 4s 1s ease-in-out infinite;
}

@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  100% {
    -webkit-transform: rotate(630deg);
    transform: rotate(630deg);
  }
}

@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  100% {
    -webkit-transform: rotate(630deg);
    transform: rotate(630deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-rotate-3 4s 2s linear infinite;
  animation: dot-rotate-3 4s 2s linear infinite;
}

.dot:nth-child(3):before {
  background-color: #208BF1;
  -webkit-animation: dot-move 4s 2s ease-in-out infinite;
  animation: dot-move 4s 2s ease-in-out infinite;
}

@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
  100% {
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-rotate-4 4s 3s linear infinite;
  animation: dot-rotate-4 4s 3s linear infinite;
}

.dot:nth-child(4):before {
  background-color: #AFE102;
  -webkit-animation: dot-move 4s 3s ease-in-out infinite;
  animation: dot-move 4s 3s ease-in-out infinite;
}
