* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
  -webkit-filter: url(#goo);
  filter: url(#goo);
}

.dot {
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.dot:before {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #FBD301;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

@-webkit-keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes dot-move {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  40%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes dot-colors {
  0% {
    background-color: #AFE102;
  }
  25% {
    background-color: #FBD301;
  }
  50% {
    background-color: #FF3270;
  }
  75% {
    background-color: #208BF1;
  }
  100% {
    background-color: #208BF1;
  }
}

@keyframes dot-colors {
  0% {
    background-color: #AFE102;
  }
  25% {
    background-color: #FBD301;
  }
  50% {
    background-color: #FF3270;
  }
  75% {
    background-color: #208BF1;
  }
  100% {
    background-color: #208BF1;
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  margin-top: -21px;
  -webkit-animation: dot-colors 5s ease infinite;
  animation: dot-colors 5s ease infinite;
}

@-webkit-keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

@keyframes dot-rotate-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}

.dot:nth-child(1) {
  -webkit-animation: dot-rotate-1 5s 0s linear infinite;
  animation: dot-rotate-1 5s 0s linear infinite;
}

.dot:nth-child(1):before {
  background-color: #FBD301;
  -webkit-animation: dot-move 5s 0s ease infinite;
  animation: dot-move 5s 0s ease infinite;
}

@-webkit-keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

@keyframes dot-rotate-2 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.dot:nth-child(2) {
  -webkit-animation: dot-rotate-2 5s 1.25s linear infinite;
  animation: dot-rotate-2 5s 1.25s linear infinite;
}

.dot:nth-child(2):before {
  background-color: #FF3270;
  -webkit-animation: dot-move 5s 1.25s ease infinite;
  animation: dot-move 5s 1.25s ease infinite;
}

@-webkit-keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes dot-rotate-3 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.dot:nth-child(3) {
  -webkit-animation: dot-rotate-3 5s 2.5s linear infinite;
  animation: dot-rotate-3 5s 2.5s linear infinite;
}

.dot:nth-child(3):before {
  background-color: #208BF1;
  -webkit-animation: dot-move 5s 2.5s ease infinite;
  animation: dot-move 5s 2.5s ease infinite;
}

@-webkit-keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes dot-rotate-4 {
  0% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.dot:nth-child(4) {
  -webkit-animation: dot-rotate-4 5s 3.75s linear infinite;
  animation: dot-rotate-4 5s 3.75s linear infinite;
}

.dot:nth-child(4):before {
  background-color: #AFE102;
  -webkit-animation: dot-move 5s 3.75s ease infinite;
  animation: dot-move 5s 3.75s ease infinite;
}
